################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WEBAPI/bin/Debug/netcoreapp3.1
/WEBAPI/obj
/XUnitTestProject1/bin/Debug/netcoreapp3.1
/XUnitTestProject1/obj
